Repository tiangolo/uvicorn-gunicorn-fastapi-docker, pull requests merged in 2024-03, with the labels that each got.

#263 🔥 Remove Alpine support
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  README.md
  docker-images/python3.7-alpine3.8.dockerfile
  docker-images/python3.8-alpine3.10.dockerfile
  docker-images/python3.9-alpine3.14.dockerfile
  pyproject.toml
  scripts/process_all.py
Labels: refactor

#261 ⬆ Update Docker Python library to fix tests
  .github/workflows/test.yml
  pyproject.toml
Labels: upgrade

#247 👷 Update token for latest changes
  .github/workflows/latest-changes.yml
Labels: internal

#253 👷 Update dependabot
  .github/dependabot.yml
Labels: internal

#273 ✨ Add support for multi-arch builds, including support for arm64 (e.g. Mac M1)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  scripts/build-push-all.sh
  scripts/build-push.sh
  scripts/build.sh
  scripts/docker-login.sh
  scripts/test-all.sh
  scripts/test.sh
Labels: feature

#274 📝 Update test badge in `README.md`
  README.md
Labels: docs

#275 📝 Update test badge in `README.md`
  README.md
Labels: docs

#276 🔧 Update `latest-changes.yml`
  .github/workflows/latest-changes.yml
Labels: internal

#281 🔧 Add GitHub templates for discussions and templates
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/privileged.yml
Labels: internal

#283 📝 Add security policy
  SECURITY.md
Labels: docs
